​
<!DOCTYPE html>
<html lang="sv">

<head>
    <title>
        <%= title %>
    </title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <div id='map'></div>
</body>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidmlrMyIsImEiOiJjajgxbHM3ZDg2aHgxMnJxcHp6OWVwcHh5In0.mJbb6DUBGkBHWKXqebESKg';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/vik3/cj81lcd3x7mcw2st3s25527ua', //hosted style id
        center: [0, 0], // starting position
        zoom: 1, // starting zoom
     //   pitch: 30,
        zoomControl: false,
        attributionControl: false
    });
    map.scrollZoom.disable();
    var radius = 20;

    function pointOnCircle(angle) {
        return {
            "type": "Point",
            "coordinates": [
                Math.cos(angle) * radius,
                Math.sin(angle) * radius
            ]
        };
    }


    map.on('load', function () {

        var width = 2; // The image will be 64 pixels square
        var bytesPerPixel = 4; // Each pixel is represented by 4 bytes: red, green, blue, and alpha.
        var imgdata = new Uint8Array(width * width * bytesPerPixel);

        for (var x = 0; x < width; x++) {
            for (var y = 0; y < width; y++) {
                var offset = (y * width + x) * bytesPerPixel;
                imgdata[offset + 0] = 255; // red
                imgdata[offset + 1] = 255; // green
                imgdata[offset + 2] = 128; // blue
                imgdata[offset + 3] = 255; // alpha
            }
        }


        map.addImage('gradient', {
            width: width,
            height: width,
            data: imgdata
        });


        var meteorData = <%-data%>;
        console.log(meteorData.length);
      
        for (var i = 0; i < meteorData.length; i++) {
            map.addLayer({
                "id": "points" + i,
                "type": "symbol",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [{
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [meteorData[i].reclat,meteorData[i].reclong]
                            }
                        }]
                    }
                },
                "layout": {
                    'visibility': 'none',
                    "icon-image": "gradient"
                }
            });
        }
        var i = 0;
     

        var timer = setInterval(function () {
            map.setLayoutProperty('points' + i, 'visibility', 'visible');
            
            i++;
            if (i == meteorData.length-1){ 
                clearInterval(timer);
               
            }
        }, 100);

      


    });
</script>

</html>