a {
    color: #00B7FF;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font: 24px Helvetica;
    background: #999999;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}